body {
    background-color: black;
    color: white;
    font-family: 'Roboto';
}

header {
    text-align: center;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

p.bodyp {
    margin: 10 10;
    line-height: 22px;
}

p.footerp {
    padding: 0;
    margin: 2 0;
}

.bodyp{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    width: auto; 
    padding: 5px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

article {
    border: 1px dotted;
    width: 60%;
    box-align: center;
    margin: 0 20%;
}

footer {
    display: block;
    box-align: center;
    margin: 0 30%;
    text-align: center;
}